@inherits LayoutComponentBase

<body id="app">
    <header class="top-header">
        <h1>Sutelob</h1>
    </header>
    <nav class="sidebar">
        <NavMenu></NavMenu>
    </nav>
    <main role="main">
        @Body
    </main>
</body>
