@inherits LayoutComponentBase
@using System.IO
@using Microsoft.AspNetCore.Components
@using Taxonomix.Data
@inject DatasetsService DatasetsService

<div id="app">
    <header class="top-header">
        @if (DatasetsService.SelectedDataset == null)
        {
            <h1>Taxonomix</h1>
        } else {
            <h1>@DatasetsService.SelectedDataset.Id</h1>
        }
    </header>
    <nav class="sidebar">
        <NavMenu></NavMenu>
    </nav>
    <main role="main" class="relative v-scroll">
        @Body
    </main>
</div>
