<ul>
    <li>
        <NavLink class="tab-link" href="" Match="NavLinkMatch.All">
            Identification
        </NavLink>
    </li>
    <li>
        <NavLink class="tab-link" href="taxons-list">
            List
        </NavLink>
    </li>
    <li>
        <NavLink class="tab-link" href="taxons-map">
            Map
        </NavLink>
    </li>
    <li>
        <NavLink class="tab-link" href="license">
            License
        </NavLink>
    </li>
</ul>
